LOG_LEVEL=DEBUG

# Telegram
TG_TOKEN=TOKEN
BOT_USERNAME=@bot
USERS='{"TELEGRAM_USER_ID_1": {"name": "Name", "table_name": "Spreadsheet Name 1", "aliases": ["me"]}}'
#GROUP_CHAT_ID=
#PERSONAL_EXPENSES_THREAD_ID=
EXPENSE_CATEGORIES='["Category"]'
SINGLE_MESSAGE_DEBOUNCER_PERIOD_SECONDS=2

# Gemini AI
AI_TOKEN=TOKEN
AI_MODEL__NAME=gemini-3.7-flash
#AI_MODEL__SECONDARY_NAME=gemini-3.6-flash
AI_MODEL__QUOTA_SIZE=5
AI_MODEL__QUOTA_PERIOD_SECONDS=70

AI_MODEL__IMAGES_PER_MESSAGE_LIMIT=10

# Google
SPREADSHEET_URL=https://docs.google.com/spreadsheets/d/.../edit
#WORKSHEET_GID=
